// Rig command tests

// The following necessary functions work
port = "/dev/ttyS1";
model = ts2k;

rig.open(model, port);

// Alternate uses...
port[1] = "/dev/null";
model[1] = dummy;
open(rig[1], model[1], port[1]);

// The following may work someday but no code is written...
// rig.open(ts2k, "/dev/ttyS1");

// Real cool stuff

rig[0].freq = rig[1].freq();				// rig->rig copy!
rig[0].curr.freq = rig[1].curr.freq();			// rig->rig copy!
rig[0].vfo(VFO_A).freq = rig[1].vfo(VFO_A).freq();	// rig->rig copy!

// (my rig can't do this by itself)
rig.vfo(VFO_A).freq = rig.vfo(VFO_C).freq();		// A=C
rig[0].vfo(VFO_A).freq = rig[0].vfo(VFO_C).freq();	// A=C, same

// these are cool, but broken.
rig.curr.freq = 147.89MHz;		// set freq on RIG_VFO_CURR
rig.freq(147.89MHz);			// set freq on RIG_VFO_CURR
//rig[0].curr.freq(146.78MHz);		// set freq on RIG_VFO_CURR
//rig[1].vfo(VFO_A).freq(145.67MHz);	// set vfo and freq

// Other stuff eventually will go here.
freq = 145.33 MHz;

rig.vfo(A){	// Tempory vfo change
	freq = 147.33 MHz;
	mode = FM;
};
}

rig.close();
close(rig[1]);

//help;
//exit;
